---
preloadCSS: "/assets/css/blog.css"
eleventyComputed:
  title: "{{ title }}"
  description: "{{ description }}"
  preloadImg: "{{ image }}"
  permalink: "/blog/{{ title | slug }}/index.html"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

{#
<section id="int-hero">
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>
#}

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
  <!--Main content -->
  <div class="main-content">
    <!-- ============================================ -->
    <!--                  Blog Article                -->
    <!-- ============================================ -->

    <article class="blog-article">
      <!--Article Info-->
      <div class="article-group">
        <h1 class="blog-h1">{{ title }}</h1>
        <div class="blog-authorGroup">
          <!--Author Image-->
          <picture class="blog-author-img">
            <img
              src="/assets/svgs/profile.svg"
              alt="house"
              width="32"
              height="32"
              decoding="async"
            />
          </picture>
          <span class="blog-author">{{ author }}</span>
          <span aria-hidden="true" class="blog-dot"></span>
          <!--Blog Date-->
          <span class="blog-date">{{ date | postDate }}</span>
        </div>
      </div>
      <!--Main Article Image-->
      <picture class="blog-mainImage">
        <img
          src="{{ image }}"
          alt="{{ imageAlt }}"
          width="795"
          height="400"
          decoding="async"
        />
      </picture>
      <section id="blog-content">{{ content | safe }}</section>
    </article>
  </div>
  <!-- End .main-content -->

  {% include 'components/featured-post.html' %}
</div>
<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

{#
<section id="map-1834">
  <img
    class="cs-icon"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/brown-pin.svg"
    alt="water damage service locations"
    decoding="async"
    width="52"
    height="52"
    aria-hidden="true"
  />
  <div class="cs-background">
    <iframe
      loading="lazy"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1563360.768038838!2d-76.04628107257703!3d40.06561876743818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c0fb959e00409f%3A0x2cd27b07f83f6d8d!2sNew%20Jersey!5e0!3m2!1sen!2sus!4v1735267342344!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="cs-container">
    <ul class="cs-card-group">
      {% if collections.location | length == 0 %}
      <p>More service coverage coming soon!</p>
      {% else %} {%- for location in collections.location | reverse -%}
      <li class="cs-item">
        <a href="{{ location.url }}" class="cs-li-link cs-drop-link"
          >{{ location.data.location }} &#8594;</a
        >
      </li>
      {%- endfor -%}{% endif %}
    </ul>
  </div>
</section>
#} {% endblock %}
